html, body {
	margin: auto;
	padding: auto;
	font-family: arial;
	overflow:hidden;
	width: 100%;
}
.btn
{
  position: relative;
  top: 16px;
  left: 20px;
  width: 128px;
  height: 128px;
  align:left-side;
}


.container{
	height:216px;
	width:680px;
	position:relative;
	overflow:hidden;
	border-style: solid;
	border-color:#dadada;
}



.header{
	border-top: 3px solid #3098ff;
	background: #000;
	width: 100%;
	height: 37px;
}

.headline{
	padding-right: 15px;
	padding-top:15px;
	padding-bottom:15px;
	font-size: 18px;
	font-weight: bold;
	text-transform:uppercase;
	box-sizing:border-box;
	color:#fff;
	top:25%;
	position:relative;
}


#close-image  {
    position:relative;
	left:20px;
	vertical-align:center;
	width:110px;
	height:110px;
	border-radius:120%;
	background:#ffffff;
    padding top: 0px;
    padding bottom: 0px;
	border-width:3px;
}


.left {
		width: 470px !important; 
		padding-bottom: 40px;
		min-height: auto !important;
		padding-right: 0;
		float: left;
	}
	.tip.left:after {
		border-top: 12px solid transparent;
		border-right: 12px solid #fff;
		border-bottom: 12px solid transparent;
		left: -24px;
		top: 22px;
	}

	.left > p:first-of-type { 
		background: #ffd987; 
		font-style: italic; 
		padding: 5px 10px; 
		margin-bottom: 40px;
	}

	.tip {
		background: #fff;
		border: 1px solid #ccc;
		padding: 10px;
		font-size: 1.2em;
		position: relative;
		width: 250px;
		height:110px;
	}

	.tip:before {
		position: absolute;
		top: -14px;
		left: 98px;
		display: inline-block;
		border-right: 5px solid transparent;
		border-bottom: 14px solid #fff;
		border-left: 14px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}

	.tip:after {
		position: absolute;
		top: -12px;
		left: 99px;
		display: inline-block;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #fff;
		border-left: 12px solid transparent;
		content: '';
	}

	.tip.left:before {
		border-top: 14px solid transparent;
		border-right: 14px solid #fff;
		border-bottom: 14px solid transparent;
		border-right-color: rgba(0, 0, 0, 0.2);
		left: -28px;
		top: 20px;
	}
.fieldset1{
  height: 45px;
  width: 490px;
    position: absolute;
    bottom: 0;
    left: 0;
  background-color: #C0C0C0;
  position: absolute;
}
.button{
  text-align:center;
   display: inline-block;
   bottom:15px;
   left: 5px;
   position :relative;
   verticle-align:middle;
   border-radius: 50px;
   font-family: Arial;
   color: #ffffff  ;
   font-size: 14px;
    font-weight: bold;
   text-shadow-color: #ffffff  ;
   background: #3098FF  ;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
    left:220px;
    top:6px;
            
}

.right_button3 {
    display:block;
    width:40px;
    height:40px;
    position:relative;
	top:55px;
	left:50px;
	border-radius:50%;
}
.right_button1 {
    display:block;
    width:40px;
    height:40px;
    position:absolute;
	top:87px;
	left:14px;
	border-radius:50%;
}
.right_button4 
{
    display:block;
    width:40px;
    height:40px;
    position:absolute;
	top:87px;
	left:105px;
	border-radius:50%;
	
}



